body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.container {
  width: 300px;
  margin: 100px auto;
  background: white;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
}

input {
  width: 80%;
  padding: 5px;
}

button {
  margin-top: 10px;
  padding: 5px 10px;
}

li {
  list-style: none;
  margin-top: 10px;
  background: #eee;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.delete {
  color: red;
  cursor: pointer;
}
